doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(content="width=device-width,initial-scale=1,minimal-ui" name="viewport")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/js.cookie.js" type="text/javascript" )    
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons")
    link(rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css")
    link(rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css")
      
  body
    script(type='text/javascript').
      var sessionInfo = {
        id : "#{session_id}",
        type : "#{session_type}",
        viewLink: "#{view_shortlink}",
        slaveLink:  "#{slave_shortlink}"
      }
        
    main#app 
        block content
    script(src="/javascripts/ws.js" type="text/javascript")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://unpkg.com/vue-material@beta")
    block footer_scripts
